body {
  text-align: center;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

caption {
  caption-side: bottom;
  padding: 5% 0;
  text-align: justify;
}

td {
  padding: 0 10px;
}

em {
  color: blue;
}
