html {
  height: 100%;
}

body {
  /* background-image: linear-gradient(to right top, #DBD8E3, #BBE1FA); */
  font-size: 1.5rem;
  line-height: 3rem;
}

h1 {
  text-align: center;
}



a {
  color: rgb(133, 109, 211);
  text-decoration: none;
}
a:hover {
  color: rgb(25, 148, 179);
  text-decoration: none;
}

.over-streched {
  position: relative;
  z-index: 1;
}
