body {
    background-image: url(../images/bg-logo.png);
    background-repeat:repeat;
    font-family: 'Asap', sans-serif;
}

/* Header */
.header-container {
    background-color: rgb(60, 60, 60);
    min-height: 100px;
    position: fixed;
    width: 100%;
}

header {
    align-items: center;
    color: #fff;
    display: flex;
    max-width: 1080px;
    margin: auto;
    min-height: 100px;
    justify-content: space-between;
}

span.bold {
    font-weight: 700;
}

.header-button a {
    background-color: rgb(60, 60, 60);
    border: 1px #fff solid;
    color: #fff;
    margin-left: 0.5rem;
    padding: 0.675rem 1.5rem;
    text-decoration: none;
}

.header-button a:hover {
    background-color: #fff;
    color: rgb(60, 60, 60);
    transition-duration: 600ms;
}

.menu-wrapper {
    display: none;
}


/* Content */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 150px;
    max-width: 1080px;
}

.col {
    background-color: rgb(35, 202, 146);
    margin-bottom: 40px;
    width: 30%;
}

.col img {
    width: 100%;
    height: auto;
}

.col p {
    color: white;
    font-size: 0.875rem;
    line-height: 1.2rem;
    padding: 0.8rem 1.2rem;
}

.col p::first-line {
    font-weight: bold;
}

/* Footer */
.footer-container {
    color: #fff;
}



/* Tablet */
@media (max-width: 768px) {
    .col {
        width: 45%;
    }

    .mob-nav-button a{
        background-color: coral;
        color: #fff;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    .header-container {
        position: relative;
    }

    .header-button a{
        margin-left: 0;
    }


    nav a {
        display: block;
    }

    nav {
        display: none;
    }
    .menu-wrapper {
        display: block;
        padding-right: 2.2rem;
    }

    .nav-mob {
        display: none;
        position: absolute;
        padding-top: 1rem;
        right: 0.4rem;
        text-align: center;
    }

    .logo {
        padding: 1.2rem 0;
    }

    .container {
        padding-top: 40px;
    }


}

/* Mobile */
@media (max-width: 480px) {
    .col {
        width: 100%;
    }


}